<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div ng-app="timepickerDemoApp">
    <div ng-controller="timepickerDemoController">

      {{startTime}}
      <div timepicker ng-model="startTime" default-time="defaultTime" current-date="currentDate" min-time="'10:00 pm'"></div>
      <button ng-click="toggleDate()">Date Toggle: {{currentDate}}</button>
    </div>
  </div>


  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="../lib/timepicker.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>
</body>
</html>